div.beanies {
  overflow-y: scroll;
  max-height: 45em;
}

div.all {
  display: flex;
  flex-direction: row;
}

.checked {
  background-color: #e4e;
}
.unchecked {
  background-color: #e9e;
}
.newBeanie>button,.newBeanie>a {
  margin: 1em;
}
.family {
  background-color: var(--purple);
  color: var(--white);
}
.beanies {
  width: 100%;
}
.clickable:hover {
  cursor:pointer;
  opacity: .6;
}

@media screen and (max-width: 600px) {
  div.all {
    flex-direction: column;
  }
}
