div.beanies {
  overflow-y: scroll;
  max-height: 45em;
}

div.all {
  display: flex;
  flex-direction: row;
}

.checked {
  background-color: #e4e;
}
.unchecked {
  background-color: #e9e;
}
.newBeanie>button,.newBeanie>a {
  margin: 1em;
}

@media screen and (max-width: 600px) {
  div.all {
    flex-direction: column;
  }
}
