
.beanie>label {
  display: block;
  text-align: left;
}

.beanie>label, .beanie>input, .beanie>select {
  margin: 0 3em 0 0;
  width: 90%;
}
.beanie>label>select  {
  margin-left: .5em
}

.beanie>.image>img {
  max-width: 30em
}

.savingNotice {
  color: #f00;
}
