.header {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  min-height: 100px;
}

.name {
  font-size: 2em;
  margin: auto;
}
.name>h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.App-link {
  color: #09d3ac;
}

.families>select {
  font-size: 1.4em
}

div.login,div.families {
  margin: 0 1em
}

.nav {
  font-size: .4em;
  margin: auto;
}
.nav>nav {
  display: inline;
  padding: 0 1em;
}

.nav>nav:hover {
  opacity: .4;
}

.link {
  background-color: var(--purple);
  color: var(--white);
  border-radius: var(--buttonRadius);
  padding: var(--buttonPadding);
  text-decoration: none;
}

.welcome {
  text-align: center;
}


@media screen and (max-width: 600px) {
  .families>select {
    font-size: 1em;
  }
  .name {
    font-size: 1em;;
  }
}
