.user {
  display: flex;
  flex-direction: row;
}

.lists {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  overflow: scroll;
}

.beanie {
  width: 25%;
}
.mylist {
  width: 100%;
}

.tableHeader {
  font-size: 1.4em;
}

.tableHeader > td {
  border-bottom: 1px solid black;
}
.show:hover {
  cursor: pointer;
  background-color: #444;
}

@media screen and (max-width: 600px) {
  .userData {
    min-width: 35%;
  }
}
