.beaniesSummary {
  border-collapse: collapse;
}

.beaniesSummary>tbody>tr:nth-child(2n) {
  background-color: var(--light-blue);
}

.beaniesSummary>tbody>tr>td {
  padding: 0 1em;
}

.beanieSummary:hover {
  cursor: pointer;
  opacity: .6;
}

small.addToPdf {
  font-size: .2em;
  display: block;
}

input.addToPdf {
  margin-left: 30%;
}

.selectAll {
  text-align: left;
  margin-left: 30%
}

.selectAllLabel {
  text-align: left;
}

.searchCol {
  width: 100%;
}
.search {
  margin: auto;
}
