.beaniesSummary {
  border-collapse: collapse;
}

.beaniesSummary>tbody>tr:nth-child(2n) {
  background-color: var(--light-blue);
}

.beaniesSummary>tbody>tr>td {
  padding: 0 1em;
}

.beanieSummary:hover {
  cursor: pointer;
  opacity: .6;
}

.pdfs {
  text-align: center;
}

a {
  text-decoration: none;
}

.loadingPdf,.loadingChecklist {
  color: var(--black);
  text-align: center;
}

small.addToPdf {
  font-size: .2em;
  display: block;
}

input.addToPdf {
  margin-left: 30%;
}
