.beaniesSummary {
  border-collapse: collapse;
}

.beaniesSummary>tbody>tr:nth-child(2n) {
  background-color: var(--light-blue);
}

.beaniesSummary>tbody>tr>td {
  padding: 0 1em;
}

.beanieSummary:hover {
  cursor: pointer;
  opacity: .6;
}
