.App {
  text-align: center;
  font-family: "Roboto", "Arial", "Garamond"
}

button.delete {
  background-color: var(--red);
}

button.add {
  background-color: var(--green);
}

button {
  border: none;
  border-radius: var(--buttonRadius);
  padding: var(--buttonPadding);
  background-color: var(--black);
  color: var(--white);
}

button:hover {
    opacity: .8;
}

button:hover {
  cursor: pointer;
}
