.App {
  text-align: center;
}

.App-header {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.name {
  width: 80%;
}
.nav {
  width: 20%;
}

.App-link {
  color: #09d3ac;
}

.families>select {
  font-size: 1.4em
}

.nav,.families {
  margin: 0 1em
}

button.delete {
  background-color: #f66;
}

button.add {
  background-color: #6f6;
}

button.login {
  background-color: #eee;
  color: #333;
}

button {
  border: none;
  border-radius: 2px;
  padding: .8em;
  background-color: #333;
  color: #eee;
}

button:hover {
  cursor: pointer;
  opacity: 80%;
}
